@-webkit-keyframes grow {
	0% { height: 0px; }
	50% { height: 0px; }
	100% { height: 40px; }
}
@-ms-keyframes grow {
	0% { height: 0px; }
	50% { height: 0px; }
	100% { height: 40px; }
}
@-moz-keyframes grow {
	0% { height: 0px; }
	50% { height: 0px; }
	100% { height: 40px; }
}
@keyframes grow {
	0% { height: 0px; }
	50% { height: 0px; }
	100% { height: 40px; }
}